# Question 1

In [55]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [56]:
b()                                
b()                                
b()                                
a

6

# Question 2

In [57]:
def file_length(docs2):                                         
    try:                                                    
        file = open(docs2, "r")                                     
        contents=file.read()                                               
        print('length of the file : '+ str(len(contents)))         
        file.close()                                                   
    except:                                                           
        print('file' +docs2+' not found.')

In [58]:
file_length("doc2.py")

length of the file : 24

In [59]:
file_length("data.py")

filedata.py not found.

# Question 3

In [60]:
class Marsupial(object):                     
  
    def __init__(self):                               
        self.mylist = []                     
    def put_in_pouch(self, item):            
        self.mylist.append(item)
    def pouch_contents(self):                
        return self.mylist

In [61]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [62]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                         
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [63]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [64]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [65]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [66]:
def collatz(x):                   
   
    if x != 1:                   
        if x%2!=0:                
            print(int(x))         
            collatz(3*x+1)       
        
        else:
            print(int(x))         
            collatz(x/2)          
  
    else:
        print(int(x));

In [67]:
collatz(1)

1

In [68]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [69]:
def binary(n):
    
    if n>0:                          
        return (n % 2 + 10*binary(int(n // 2)))
       
    else:
         return 0

In [70]:
binary(0)

0

In [71]:
binary(1)

1

In [72]:
binary(3)

11

In [73]:
binary(9)

1001

# Question 6

In [74]:
from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attrs):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [75]:
data = open('w3c.html')
data_loc = data.read()
data.close()
hp = HeadingParser()
hp.feed(data_loc)

W3C Mission
    Principles

# Question 8

In [77]:
import sqlite3
con = sqlite3.connect('database_db')
cur = con.cursor()
cur.execute("CREATE TABLE city_loc (City text, Country text, Season text, Temperature dec, Rainfall dec)")
cur.execute("INSERT INTO city_loc VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO city_loc VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO city_loc VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO city_loc VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO city_loc VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO city_loc VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO city_loc VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO city_loc VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO city_loc VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO city_loc VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO city_loc VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO city_loc VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
con.commit()
con.close()

OperationalError: table city_loc already exists

In [78]:
import sqlite3
con = sqlite3.connect('database_db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM city_loc ')
for record in cur:
    print(record)
cur.execute('SELECT DISTINCT City FROM city_loc ')
for record in cur:
    print(record)
cur.execute('SELECT * FROM city_loc  where Season="Fall"')
for record in cur:
    print(record)
cur.execute('SELECT * FROM city_loc  where Country="India"')
for record in cur:
    print(record)
cur.execute('SELECT City,Country FROM city_loc  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in cur:
    print(record)
cur.execute('SELECT City,Country,Season FROM city_loc  where (rainfall>200) AND (rainfall<400)')
for record in cur:
    print(record)
cur.execute('SELECT SUM(Rainfall) FROM city_loc  where City="Cairo"')
rainfall=cur.fetchall()
print(rainfall)
cur.execute('SELECT SUM(Rainfall),Season FROM city_loc  GROUP BY Season')
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [83]:
word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in word]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [84]:
[a.lower() for a in word]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [85]:
[len(a) for a in word]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [86]:
[[a.upper(),a.lower(),len(a)] for a in word]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [87]:
[a for a in word if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']